{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="right_col" role="main">
  <div id="bootstrap_messages" style="margin-top:5em;">
    {% bootstrap_messages %}
  </div>
  <div class="">
    <div class="page-title">


      <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h3>Estudiantes</h3>
            <a type="button" onclick="javascript:printDiv('imprimir')" type='GET'>
                <span class="btn btn-primary btn-xs glyphicon glyphicon-print" aria-hidden="true" title="Imprimir"></span>
              </a>
            <a href="{% url 'matricula:form_estudiantes_filter' %}" type='GET'>
                <span class="btn btn-primary btn-xs glyphicon glyphicon-search" aria-hidden="true" title="Burcar de nuevo"></span>
              </a>
          </div>
          <div class="x_content">
            <div class="clearfix"></div>

              <div class="row" id="imprimir">
                  <div class="col-sm-12">
                    <div class="card-box table-responsive">
                    <div class="">
                      <h3>Año Lectivo: {{estudiante.ciclo_lectivo.inicio}} - {{estudiante.ciclo_lectivo.fin}}</h3>
                      <h3>Curso: {{estudiante.curso}}</h3>
                      <h3>Paralelo: {{estudiante.paralelo.nombre}}</h3>
                    </div>
            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>CI</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Dirección</th>
                  <th>Teléfono</th>
                  <th>Celular</th>
                </tr>
              </thead>


              <tbody>
                  {% for matricula in result_estudiantes_filter %}
                  <tr>
                    <td>{{ matricula.estudiante.usuario.ci_ruc }} </td>
                    <td>{{ matricula.estudiante.usuario.nombres }} </td>
                    <td>{{ matricula.estudiante.usuario.apellidos }} </td>
                    <td>{{ matricula.estudiante.usuario.direccion }} </td>
                    <td>{{ matricula.estudiante.usuario.telefono }} </td>
                    <td>{{ matricula.estudiante.usuario.celular }} </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>

          </div>
          </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
  <script type="text/javascript">
    function printDiv(imprimir) {
     var contenido= document.getElementById(imprimir).innerHTML;
     var contenidoOriginal= document.body.innerHTML;

     document.body.innerHTML = contenido;

     window.print();

     document.body.innerHTML = contenidoOriginal;
}
  </script>
{% endblock %}
