{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Datos Representante</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">
                                <div class="x_content">
                                  <form  method="POST"  enctype="multipart/form-data">
                                    <span class="section">Información del Representante</span>
                                      {% csrf_token %}
                                          {% bootstrap_form form_usuario layout='horizontal' %}
                                          {% bootstrap_form form_representante layout='horizontal' %}
                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <button type='submit' class="btn btn-success">Guardar</button>
                                                    <a href="{% url 'usuarios:datos_padres_list' %}" class="btn btn-primary">Regresar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}
